header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, black 0%, #636363 65%, #cdcdcd 100%); }
  header figure {
    margin: 10px 0px;
    padding: 0px 0px 0px 10px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 75px;
    cursor: pointer; }
    header figure img {
      width: 100%; }
  header select {
    height: 2rem;
    background-color: #8488aa;
    font-weight: 500;
    transition-duration: 0.3s; }
    header select:focus {
      background-color: #A2A6C8; }
    header select option {
      font-style: italic; }
  header form {
    background-color: #8488aa;
    border: 1px solid #ddd;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center; }
    header form input {
      background-color: transparent;
      border: none;
      padding: 0px;
      margin-left: 3px;
      width: calc(100% - 30px);
      transition-duration: 0.3s; }
      header form input:focus {
        outline: none;
        background-color: #A2A6C8; }
    header form i {
      padding: 4px; }
  header div#user-actions {
    display: flex;
    flex-flow: row wrap;
    width: 200px;
    justify-content: space-around; }
    header div#user-actions div {
      padding: 0px 5px;
      border: 1px solid #ddd;
      transition-duration: 0.3s; }
      header div#user-actions div:hover {
        cursor: pointer; }
      header div#user-actions div:active {
        background-color: rgba(255, 255, 255, 0.3); }
      header div#user-actions div i {
        font-size: 1.1rem; }

@media screen and (max-width: 750px) {
  header {
    display: grid;
    grid-template: repeat(2, auto)/repeat(2, 1fr); }
    header figure {
      height: 100%;
      width: 100%; }
    header div#user-actions {
      order: 1;
      justify-self: right;
      padding-top: 5px; }
    header select {
      order: 2;
      margin: 10px 5%; }
    header form {
      order: 3;
      margin: 10px 5%; } }

@media screen and (max-width: 500px) {
  header {
    display: grid;
    grid-template: repeat(3, auto)/repeat(2, 1fr); }
    header select {
      grid-area: 2 / 1 / 3 / 3; }
    header form {
      grid-area: 3 / 1 / 4 / 3; } }
