.product {
  align-items: center;

  figure {
    margin: 16px 0px;
    width: 100%;
    display: flex;
    justify-content: center;

    img {
      max-width: 100%;
    }

    &:hover {
      animation: 1s picture 1;
	    transform-origin: top center;
    }
  }

  .description {
    align-self: flex-start;
  }

  .price {
    text-decoration: line-through;
    margin-bottom: 0px;
  }

  .discounted_price {
    font-size: 1.2rem;
    margin-top: 5px;
  }
}

#pagination {
  grid-column: 1 / 3;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 20px;
  overflow-x: auto;

  >button {
    padding: 5px 10px;
    margin: 5px 3px;

    &.selected {
      box-shadow: inset 0px 0px 0px 2px rgba(0,0,0,0.75);
    }
  }
}

@media screen and (max-width: 750px) {
  #pagination {
    grid-column: 1 / 2;
  }
}

@keyframes picture{
	20%{
		transform: rotate(15deg);
	}
	40%{
		transform: rotate(-10deg);
	}
	60%{
		transform: rotate(5deg);
	}
	80%{
		transform: rotate(-3deg);
	}
}