@import 'variables';

#product {
  width: 50% !important;
  align-items: center;
  grid-column: 1 / 3;

  figure {
    margin: 16px 0px;
    width: 100%;
    display: flex;
    justify-content: center;

    img {
      max-width: 100%;
    }

    &:hover {
      animation: 1s picture 1;
	    transform-origin: top center;
    }

    &:first-of-type {
      margin-bottom: 0px;
    }
  }

  .description {
    align-self: flex-start;
  }

  .price {
    text-decoration: line-through;
    margin-bottom: 0px;
  }

  .discounted_price {
    font-size: 1.2rem;
    margin-top: 5px;
  }

  #reviews {
    width: calc(100% - 20px);
    overflow-y: auto;
    max-height: 250px;
    margin-bottom: 10px;

    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background: #aaa;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #888;
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    }
    &::-webkit-scrollbar-thumb:active {
        background-color: #666;
    }
    &::-webkit-scrollbar-track {
      background: #eee;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-track:hover,
    &::-webkit-scrollbar-track:active {
      background: #ccc;
    }

    >p {
      text-align: center;
    }

    .review {
      padding: 15px 0px;
      border-bottom: 2px solid #eee;

      >p {
        margin: 5px 0px;
      }

      &:first-of-type {
        padding-top: 0px;
      }

      &:last-of-type {
        padding-bottom: 0px;
        border-bottom: 0px;
      }

      .rating {
        width: 50px;
        margin: 5px auto;
        background-color: white;
        color: black;
        padding: 5px;
        cursor: pointer;

        &:active {
          background-color: black;
          color: white;
        }
      }

      .time,
      .date {
        text-align: right;
        margin-right: 16px;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  #product {
    width: 90% !important;
    grid-column: 1 / 2;
  }
}