@import 'variables';

.department {
  width: 90%;
  padding: 10px;
  margin: 20px auto;
  background-color: $departments-background-color;
  border-radius: 5px;
  color: #fff;
  display: flex;
  flex-flow: column wrap;

  .name {
    font-weight: 500;
  }

  .description {
    font-weight: 300;
  }

  button {
    margin: 16px 0px;
    align-self: center;
    box-shadow: 2px 2px 0px #ccc;
    padding: 5px;
    border-radius: 5px;
    font-weight: 500;
    background-color: $inputs-color;
    transition-duration: 0.3s;
    
    &:active {
      box-shadow: none;
      transform: translate(2px, 2px);
    }
    &:focus {
      outline: none;
    }
    &:hover {
      background-color: $inputs_color-plus;
    }
  }
}